.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(108, 84, 84, 0.9), rgba(69, 52, 52, 0.35)),
      url(../image/home.jpg) no-repeat;
    background-position: 50%;
    background-size: cover;
    /* background-position: center; */
  }
  
  .home .content {
    max-width: 60rem;
  }
  
  .home span {
    color: #ffc107;
    text-transform: uppercase;
  }
  
  
  .home .content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
  }
  
  .home .content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #fff;
  }

  .heading{
    text-align: center;
    color: #000;
    padding-bottom: 3.5rem;
    text-transform: uppercase;
    font-size: 4rem;
  }

  .heading span{
    color: #ffc107;
    text-transform: uppercase;
  }


  /* recipe menu */
  .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
  }
  
  .menu .box-container .box {
    padding: 5rem;
    text-align: center;
    border: 0.2rem solid #ffc107;
  }
  
  .menu .box-container .box img {
    height: 10rem;
    border-radius: 50%;
  }
  
  .menu .box-container .box h3 {
    color: #000;
    font-size: 2rem;
    padding: 1rem 0;
  }
  
  
  .menu .box-container .box:hover {
    background: #443300;
    transition: 0.5s;
  }