/* styles.css */

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Apply a background color to the entire page */
  body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  /* Style the container div */
  .container1 {
    max-width: 600px;
    margin: 10% auto;
    padding: 20px;
    /* background-color: #c1690c; */
    border-radius: 10px;
    border: 2px solid #ffc107;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style the form */
  .uploadform {
    text-align: center;
  }
  
  /* Style the form title */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000;
  }
  
  /* Style the form-box */
  .form-box {
    padding: 20px;
  }
  
  /* Style the input fields */
  input[type='text'],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ffc107;
    border-radius: 4px;
  }

  input[type='file'] {
    width: 100%;
    max-width: 200px; /* Adjust the width as needed */
    margin-right: 320px;
    margin-bottom: 15px;
    border: 1px solid #ffc107;
    color: #ffc107;
    padding: 5px;
    border-radius: 4px;
  }
  
  /* Style the submit button */
  button{
    background-color: #fff;
    color: #000;
    color: #ffc107;
    border: 1px solid #ffc107;
    padding: 10px 40px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Change button color on hover */
  input[type='button']:hover {
    background-color: #ffc107;
  }
  