@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&family=Roboto&display=swap');

*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    /* transition: 0.2s linear; */
}

body{
    background: #fff;
    overflow-x: hidden;
}

section{
    padding: 2rem 7%;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.header{
    background: #c1690c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 7%;
    border-bottom: 0.2rem solid #ffc107;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 40;
}
.navbar{
    width: 70%;
}
.logo{
    width: 40%;
    color: #ffc107;
}

ul{
    display: flex;
    list-style: none;
    text-decoration: none;
}
ul li{
    margin: 0 1rem;
    font-size: 1.6rem;
    list-style: none;
    text-decoration: none;
}
ul li a{
    text-decoration-line: none;
    color: #ffc107;
    font-weight: 800;
    display: block;
    padding: 1rem;
    margin: 0 0.5rem;
}
.nav1{
    width: 95%;
    display: flex;
    justify-content: space-between;
    color: #ffc107;
}
.user{
    display: flex;
    align-items: center;
}
.navbar a:hover{
    color: #ffc107;
    border-bottom: 0.1rem solid #ffc107;
    padding-bottom: 0.5rem;
}

/* .header .drop{
    color: #ffc107;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 5.5rem;
} */
.header .icons div{
    color: #ffc107;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: #ffc107;
}

#menu-btn{
    display: none;
}


/* @media (max-width: 768px){
    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        background: #000;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right: 0;
    }

    .header .navbar a{
        color: #fff;
        display: block;
        margin: 1.5rem
    }
    .header .navbar a:hover{
        color: #ffc107;
        border-bottom: 0.1rem solid #ffc107;
        padding-bottom: 0.5rem;
    }
} */

/* @media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
      }
    
      .header .navbar {
        display: flex;
        position: absolute;
        top: 100%;
        right: -100%;
        background: #000;
        width: 30rem;
        height: calc(100vh - 9.5rem);
        flex-direction: column;
        align-items: flex-start;
      }
    
      .header .navbar.active {
        display: flex;
        right: 0;
        flex-direction: column;
      }
    
      .header .navbar .a {
        color: #fff;
        /* display: block; 
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
      }
    
  } */

  @media (max-width: 768px) {
    #menu-btn {
      display: inline-block;
    }
  
    .header .navbar {
      display: flex;
      position: absolute;
      top: 100%;
      right: -100%;
      background: #000;
      width: 30rem;
      height: calc(100vh - 9.5rem);
      flex-direction: column; /* Change flex-direction to column */
      align-items: flex-start;
    }
  
    .header .navbar.active {
      display: flex;
      right: 0;
      flex-direction: column; /* Change flex-direction to column */
    }
  
    .header .navbar .a {
      color: #fff;
      /* display: block; */
      margin: 1.5rem;
      padding: 0.5rem;
      font-size: 2rem;
    }
  }
  
  